<div class="container">
  <br><br>
  <div class="container" align="center">
    <%= link_to root_path do %>
      <%= image_tag("logo/line45.png", :alt => "line45 logo") %>
    <% end %>
  </div>
  <br><br>
  <h1 align="center">— WELCOME TO LINE 45 —</h1>
  <br>
  <div id="about-banner" align="center">
    <%= image_tag("handcrafted_bw.png", style:"height: 100px; width: 190px; margin-left:50px; margin-top:20px;") %>
    <%= image_tag("smallbatch_bw.png", style:"height: 100px; width: 190px; margin-left:50px; margin-top:20px;") %>
    <%= image_tag("sustainablebannerbw.png", style:"height: 100px; width: 190px; margin-left:50px; margin-top:20px;") %>
  </div>
  <br>
  <p>LINE 45 is a woman-owned, artisanal body care business located in portland, oregon. we are known for our luxurious, small-batch, bar soap inspired by portland nuance and neighborhoods. we also offer a collection of essential oil rollers aimed at maintaining emotional balance and lastly, we offer antioxidant-rich, face and body scrubs. we have plans to expand our product line by 2020. </p>

  <br><br>
  <h3>intentional formula + high quality ingredients</h3>
  <p>the marriage of olive oil, coconut oil, shea butter and castor oil makes for a super moisturizing bar of soap. it’s long lasting and lathers like a dream. we use natural earth clays or mineral oxides for color and essential oils and high quality fragrance oils for scent. for folks who’ve sensitive skin, we offer a scent-free and dye-free soap as well.</p>
  <br><br>


</div>
